$color-primary: #B1181E;
$color-lightgray: #F6F6F6;
$color-gray: #CCCCCC;
$color-brown: #47302C;

$color-white: #ffffff;
$color-black: #000000;

$color-base-title: #333333;

$color-base-font: #666666;
$color-base-font-light: #DDDDDD;
