@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto+Slab:300,400,700&display=swap');

$body-background: #f3f3f3 !default;
$body-font-family: 'Roboto Slab', serif !default;
$base-title-font-family: 'Fjalla One', sans-serif !default;
$global-weight-normal: 400 !default;
$global-lineheight: 1.5 !default;
$body-font-color: #666666 !default;
$base-font-size: 100% !default;
$global-width: 1200 !default;